---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  sui:
    image: willfantom/sui:{{ sui.version }}
    restart: unless-stopped
    networks:
      - traefik_traefik
    volumes:
      - "{{ volumes_root }}/sui/configs:/sui"
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% include './labels.j2' %}
      - "sui.enabled=true"
      - "sui.name=dashboard"
      - "sui.icon=home"
