---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  # Speedtest-tracker
  app:
    image: henrywhitaker3/speedtest-tracker:{{ speedtest_tracker.version }}
    restart: unless-stopped
    networks:
      - traefik_traefik
    environment:
      - OOKLA_EULA_GDPR=true
      - TZ={{ common_timezone }}
      - PUID=1
      - PGID=1
    volumes:
      - "{{ volumes_root }}/speedtest_tracker/config:/config"
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
{% include './labels.j2' %}
