---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  app:
    image: gotify/server:{{ gotify.version }}
    restart: unless-stopped
    networks:
      - traefik_traefik
    volumes:
      - "{{ volumes_root }}/gotify/data:/app/data"
{% include './labels.j2' %}
