---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  # Dashboard
  organizr:
    image: organizr/organizr:latest
    restart: unless-stopped
    networks:
      - traefik_traefik
    environment:
      - fpm={{ organizr.fpm | default("false") }}
      - branch={{ organizr.branch | default("master") }}
    volumes:
      - "{{ volumes_root }}/organizr:/config"
{% include './labels.j2' %}
