---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  app:
    image: roest/docker-speedtest-analyser:{{ speedtest.version }}
    volumes:
      - "{{ volumes_root }}/speedtest/data:/var/www/html/data"
    restart: unless-stopped
    networks:
      - traefik_traefik
    environment:
      - SPEEDTEST_PARAMS= --server {{ speedtest.server }}
{% include './labels.j2' %}
