---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  # S3 Storage for Backups via Restic
  minio:
    image: minio/minio:{{ minio.version }}
    networks:
      - traefik_traefik
    restart: unless-stopped
    command: server --console-address ":9001" /data
    volumes:
      - "{{ storage_dir }}/Backups/minio:/data"
      - "{{ volumes_root }}/minio/config:/root/.minio/"
    ports:
      - 9110:9000
    environment:
      MINIO_UID: {{ uid_output.stdout }}
      MINIO_GID: {{ gid_output.stdout }}
      MINIO_ACCESS_KEY: {{minio_access_key}}
      MINIO_SECRET_KEY: {{minio_secret_access_key}}
{% include './labels.j2' %}
