---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  # Docker Control
  portainer:
    image: portainer/portainer-ce:{{ portainer.version }}
    restart: unless-stopped
    networks:
      - traefik_traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ volumes_root }}/portainer:/data"
{% include './labels.j2' %}
