---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true
  tick:

services:
  # System Statistics Logger
  telegraf:
    image: telegraf:{{ tick.telegraf_version | default(tick.version) }}
    restart: unless-stopped
    networks:
      - tick
    volumes:
      - "{{ volumes_root }}/tick/telegraf.conf:/etc/telegraf/telegraf.conf"
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/rootfs/sys:ro
      - /proc:/rootfs/proc:ro
      - /etc:/rootfs/etc:ro
      # - /mnt/nas:/mnt/nas

  # Time Series Data Store
  influxdb:
    image: influxdb:{{ tick.influxdb_version | default(tick.version) }}
    restart: unless-stopped
    networks:
      - tick
      # This exposes it on our internal traefik network, which lets grafana, and others, talk to influx.
      - traefik_traefik
    volumes:
      - "{{ volumes_root }}/tick/influxdb:/var/lib/influxdb"
    ports:
      - 8086:8086

  # Define a Chronograf service
  chronograf:
    image: chronograf:{{ tick.chronograf_version | default(tick.version) }} 
    networks:
      - tick
      - traefik_traefik
    environment:
      INFLUXDB_URL: http://influxdb:8086
      KAPACITOR_URL: http://kapacitor:9092
    #ports:
      #- "8888:8888"
{% include './labels.j2' %}

  # Define a Kapacitor service
  kapacitor:
    image: kapacitor:{{ tick.kapacitor_version | default(tick.version) }}
    networks:
      - tick
    environment:
      KAPACITOR_HOSTNAME: kapacitor
      KAPACITOR_INFLUXDB_0_URLS_0: http://influxdb:8086
    #ports:
      #- "9092:9092"
