---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  app:
    image: linuxserver/healthchecks:{{ healthchecks.version }}
    networks:
      - traefik_traefik
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - SITE_ROOT='{% if healthchecks.domain %}{{ healthchecks.domain }}{% else %}{{ healthchecks.subdomain + "." + domain }}{% endif %}'
      - SITE_NAME='{% if healthchecks.domain %}{{ healthchecks.domain }}{% else %}{{ healthchecks.subdomain + "." + domain }}{% endif %}'
      - DEFAULT_FROM_EMAIL={{smtp.from_email}}
      - EMAIL_HOST={{smtp.host}}
      - EMAIL_PORT={{smtp.port}}
      - EMAIL_HOST_USER={{smtp.user}}
      - EMAIL_HOST_PASSWORD={{smtp.pass}}
      - EMAIL_USE_TLS=False
    volumes:
      - "{{ volumes_root }}/healthchecks/config:/config"

    restart: unless-stopped
{% include './labels.j2' %}
