---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  heimdall:
    image: linuxserver/heimdall:{{ heimdall.version }}
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
    networks:
      - traefik_traefik
    volumes:
      - "{{ volumes_root }}/heimdall/config:/config"
{% include './labels.j2' %}
