###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# List of users
users:
  {{default_username}}:
{% raw %}
#    password: "{{authelia_hash.stdout}}"
{% endraw %}
# Static want de automatische procedure werkt niet.
    password: "$argon2id$v=19$m=1024,t=3,p=8$c2pxbjAyandzMjAwMDAwMA$RvrCNqw3BsNoc4Cl6u1k7EeBwfW5FHX5VZX6Dww2JNQ"
    email: {{ authelia.default_user_email | default(vault.authelia.default_user_mail, None) | default() }}
    groups:
      - admins
      - dev
    displayname: "Username"
