---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true
  openldap:

services:
  openldap:
    image: osixia/openldap:{{ openldap.version }}
    restart: unless-stopped
    networks:
      - openldap
    ports:
      - 389:389
      - 689:689
    volumes:
      - "{{ volumes_root }}/openldap/data:/var/lib/data"
      - "{{ volumes_root }}/openldap/config:/etc/ldap/slapd.d"
    environment:
      - LDAP_ORGANISATION="{{ ldap_org_name }}"
      - LDAP_DOMAIN="{{ domain }}"
      - LDAP_ADMIN_PASSWORD="{{ default_password }}"

  phpldapadmin:
    image: osixia/phpldapadmin:{{ openldap.web_version | default(openldap.version) }}
    restart: unless-stopped
    networks:
      - traefik_traefik
      - openldap
    environment:
      - PHPLDAPADMIN_LDAP_HOSTS=openldap
      - PHPLDAPADMIN_HTTPS=false
{% include './labels.j2' %}
