---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  netdata:
    image: netdata/netdata:{{ netdata.version }}
    hostname: {{ domain }}
    networks:
      - traefik_traefik
    environment:
      - PGID=116
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% include './labels.j2' %}
