---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  app:
    image: n8nio/n8n:{{ n8n.version }}
    restart: unless-stopped
    networks:
      - traefik_traefik
    volumes:
      - "{{ volumes_root }}/n8n:/root/.n8n"
    environment:
      - GENERIC_TIMEZONE={{common_timezone}}
      - TZ={{common_timezone}}
{% include './labels.j2' %}