---
version: '3'

networks:
  traefik_network:
    external:
      name: traefik_traefik

services:
  apache2:
    image: httpd:{{ apache2.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/apache2/root/:/usr/local/apache2/htdocs/"
      - "{{ volumes_root }}/apache2/httpd.conf:/usr/local/apache2/conf/httpd.conf"
{% include './labels.j2' %}
