[Unit]
Description=LabOS Traefik Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=infinity
TimeoutStopSec=5min
Restart=always
RestartSec=3
WorkingDirectory={{ volumes_root }}/traefik/

ExecStart=/usr/bin/docker-compose -p traefik up
ExecStop=/usr/bin/docker-compose -p traefik stop && /usr/bin/docker-compose -p traefik rm -f

[Install]
WantedBy=multi-user.target
