---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_traefik:
    external: true

services:
  codeserver:
    image: codercom/code-server:{{ codeserver.version }}
    environment:
      - PASSWORD={{ default_password }}
    volumes:
      - "{{ volumes_root }}/codeserver/.local:/home/coder/.local"
      - "{{ volumes_root }}/codeserver/project:/home/coder/project"
    command: ['--auth', 'password', '--disable-telemetry']
    restart: unless-stopped
    networks:
      - traefik_traefik
{% include './labels.j2' %}
