### REQUIRED ###
# These values are REQUIRED for HomelabOS to work.

# Domain that will be used to point at the server
# Must have a DNS A record of '*.yourserver.com' pointing at your server's IP.
domain: {{ domain | default('localhost') }}

# SSH accessible IP address
homelab_ip: {{ homelab_ip }}

# SSH Port
homelab_port: {{ homelab_port | default('22') }}

# User name used to connect via ssh. Must have passwordless sudo.
homelab_ssh_user: {{ homelab_ssh_user }}

# Timezone of the server
common_timezone: {{ common_timezone | default('Etc/UTC') }}

# An email that is accessible outside of HomelabOS that you can receive system alerts and notices at.
# Necessary for SSL / LetsEncrypt to work.
admin_email: {{ admin_email | default('test@test.com') }}

ansible_port: {{ ansible_port | default(22) }}

# Default user name to create as admin with services
default_username: {{ default_username }}

# Default storage location for service data, such as configuration data
volumes_root: {{ volumes_root | default('/var/homelabos') }}

# Default storage location for media (These are used as local directories or NAS mount points depending on configuration)
storage_dir: {{ storage_dir | default('/mnt/nas') }}

# Default Ubuntu release name to follow. Valid examples include: bionic, cosmic, disco
ubuntu_release: {{ ubuntu_release | default('focal') }}

# For technical reasons these can't live here.
#ansible_become_password: In vault.yml
#default_password: In vault.yml

# Set this to true if you are deploying to an ARM infrastructure, such as a Raspberry Pi.
arm: {{ arm | default('False') }}

# Used by OpenLDAP
ldap_org_name: {{ ldap_org_name | default('My LDAP Org') }}

# Enable SSLIP (ex: https://organizr.192.168.0.10.sslip.io/)
enable_sslip: {{ enable_sslip | default('False') }}

# This configuration dictionary sets various details of your bastion host.
# see the docs for more information about what a bastion host is and how
# the HomelabOS bastion host works.
bastion:
  # should HomelabOS utilize a bastion server?
  enable: {{ bastion.enable | default(False) }}
  # Bastion host main ethernet interface name
  interface: {{ bastion.interface | default("eth0") }}
  # must provide passwordless sudo
  server_ssh_user: {{ bastion.server_ssh_user | default('root') }}
  # Can be an IP or a hostname
  server_address: {{ bastion.server_address | default(False) }}
  wireguard:
    bastion_vpn_address: {{ bastion.wireguard.bastion_vpn_address | default("10.0.1.1") }}
    homelab_vpn_address: {{ bastion.wireguard.homelab_vpn_address | default("10.0.1.2") }}
    netmask: {{ bastion.wireguard.netmask | default("/24") }}
    port: {{ bastion.wireguard.port | default("51820") }}
    keepalive: {{ bastion.wireguard.keepalive | default("25") }}
  ports_to_forward:
    2222: 22
    222: 222
    80: 80
    443: 443
    25: 25
    143: 143
    587: 587
    998: 998
    4190: 4190
    465: 465
    110: 110
    993: 993
    995: 995
  # MIGRATION v0.7
  # Should HomelabOS reset the bastion server IP tables rules?
  # Enable this if you are upgrading a Tinc bastion host
  reset_iptables: {{ bastion.reset_iptables | default(False) }}
  # END MIGRATION

{% raw %}
# Minio access keys
minio_access_key: "{{ vault.minio_access_key }}"
minio_secret_access_key: "{{ vault.minio_secret_access_key }}"

# VPN For Transmission to use for Downloads
openvpn_provider: "{{ vault.openvpn_provider }}"
openvpn_username: "{{ vault.openvpn_username }}"
openvpn_password: "{{ vault.openvpn_password }}"
openvpn_config: "{{ vault.openvpn_config }}"

# Cloud Servers
aws:
  secret_key: "{{ vault.aws.secret_key }}"
  access_key: "{{ vault.aws.access_key }}"
  region: "{{ vault.aws.region }}"

do_access_token: "{{ vault.do_access_token }}"
do_region: "{{ vault.do_region }}"
do_size: "{{ vault.do_size }}"

# After claiming your token at https://www.plex.tv/claim/ you will only have four minutes to run make and deploy plexinc
plex_claim: "{{ vault.plex_claim }}"

# Mapbox Api keys: Used for OwnPhotos
mapbox_api_key: "{{ vault.mapbox_api_key }}"

# Restic S3 Backup Server Information name: Docs: https://homelabos.com/docs/setup/backups/
s3_access_key: "{{ vault.s3_access_key }}"
s3_secret_key: "{{ vault.s3_secret_key }}"
s3_backup_password: "{{ vault.s3_backup_password }}"

# Home Assitant API Key
homeassistant_api_key: "{{ vault.homeassistant_api_key }}"

# Xfinity Data Usage Settings
xfinity_user: "{{ vault.xfinity_user }}"
xfinity_password: "{{ vault.xfinity_password }}"

# SMTP Settings
smtp:
  host: "{{ vault.smtp.host }}"
  port: "{{ vault.smtp.port }}"
  user: "{{ vault.smtp.user }}"
  pass: "{{ vault.smtp.pass }}"
  from_email: "{{ vault.smtp.from_email }}"
  from_name: "{{ vault.smtp.from_name }}"

traefik:
  https_only: "{{ vault.traefik.https_only }}"
  domain: "{{ vault.traefik.domain }}"
  subdomain: "{{ vault.traefik.subdomain }}"
  auth: "{{ vault.traefik.auth }}"
  expose_internally: "{{ vault.traefik.expose_internally }}"
  expose_externally: "{{ vault.traefik.expose_externally }}"
  # Enable sendAnonymousUsage?
  # Reference: https://docs.traefik.io/master/contributing/data-collection/
  send_anonymous_usage: "{{ vault.traefik.send_anonymous_usage }}"
  dns_challenge_provider: "{{ vault.traefik.dns_challenge_provider }}"
# use key:value pairs here to add additional environment variables to your traefik docker image.
# for instance, if you're using a dns challenge provider place your api keys etc here.
  additional_env_vars:
    # DUMMY_KEY: DUMMY_VALUE
    CF_API_EMAIL: "{{ vault.traefik.additional_env_vars.CF_API_EMAIL }}"
    CF_API_KEY: "{{ vault.traefik.additional_env_vars.CF_API_KEY }}"
    # LEGO_CA_CERTIFICATES optional and needs to be nested under additional_env_vars
    LEGO_CA_CERTIFICATES: "/ca.crt"
  # custom_ca_url: https://download.url.for.ca.certificate.crt
  custom_ca_url: 
  # custom_acme_url: https://internal.step-ca.server/acme/directory
  custom_acme_url: 
  # custom_acme_dns == IP address to be used to check for resolving DNS (usually internal DNS if using custom acme)
  custom_acme_dns: 
{% endraw %}

# Features
# You can enable/disable different HomelabOS features here by changing False to True and vice versa.

# TOR Access
# This enables access with a TOR hidden service. Both HTTP and SSL. https://homelabos.com/docs/setup/tor/
enable_tor: {{ enable_tor | default(False) }}

# HomelabOS Documentation, only shows docs for services you have enabled
docs:
  enable: {{ docs.enable | default(enable_docs, None) | default(True) }}
  https_only: {{ docs.https_only | default(False) }}
  auth: {{ docs.auth | default(False) }}
  domain: {{ docs.domain | default(False) }}
  subdomain: {{ docs.subdomain | default("docs") }}
  version: {{docs.version | default("latest") }}

# Services

adguardhome:
  enable: {{ adguardhome.enable | default(enable_adguardhome, None) | default(False) }}
  https_only: {{ adguardhome.https_only | default(False) }}
  auth: {{ adguardhome.auth | default(False) }}
  domain: {{ adguardhome.domain | default(False) }}
  subdomain: {{ adguardhome.subdomain | default("adguardhome") }}
  version: {{ adguardhome.version | default("latest") }}
  port: {{ adguardhome.port | default("3000") }}

airsonic:
  enable: {{ airsonic.enable | default(enable_airsonic, None) | default(False) }}
  https_only: {{ airsonic.https_only | default(False) }}
  auth: {{ airsonic.auth | default(False) }}
  domain: {{ airsonic.domain | default(False) }}
  subdomain: {{ airsonic.subdomain | default("airsonic") }}
  version: {{ airsonic.version | default("latest") }}
  port: {{ airsonic.port | default("4040") }}

apache2:
  enable: {{ apache2.enable | default(enable_apache2, None) | default(False) }}
  https_only: {{ apache2.https_only | default(False) }}
  auth: {{ apache2.auth | default(False) }}
  domain: {{ apache2.domain | default(False) }}
  subdomain: {{ apache2.subdomain | default("apache2") }}
  version: {{ apache2.version | default("latest") }}
  port: {{ apache2.port | default("0") }}

authelia:
  enable: {{ authelia.enable | default(enable_authelia, None) | default(False) }}
  https_only: {{ authelia.https_only | default(False) }}
  auth: {{ authelia.auth | default(False) }}
  domain: {{ authelia.domain | default(False) }}
  subdomain: {{ authelia.subdomain | default("authelia") }}
  version: {{ authelia.version | default("latest") }}
  port: {{ authelia.port | default("9091") }}

barcodebuddy:
  enable: {{ barcodebuddy.enable | default(enable_barcodebuddy, None) | default(False) }}
  https_only: {{ barcodebuddy.https_only | default(False) }}
  auth: {{ barcodebuddy.auth | default(False) }}
  domain: {{ barcodebuddy.domain | default(False) }}
  subdomain: {{ barcodebuddy.subdomain | default("barcodebuddy") }}
  version: {{ barcodebuddy.version | default("latest") }}
  port: {{ barcodebuddy.port | default("80") }}

beets:
  enable: {{ beets.enable | default(enable_beets, None) | default(False) }}
  https_only: {{ beets.https_only | default(False) }}
  auth: {{ beets.auth | default(False) }}
  domain: {{ beets.domain | default(False) }}
  subdomain: {{ beets.subdomain | default("beets") }}
  version: {{ beets.version | default("latest") }}
  port: {{ beets.port | default("8337") }}

bitwarden:
  enable: {{ bitwarden.enable | default(enable_bitwarden, None) | default(False) }}
  https_only: {{ bitwarden.https_only | default(False) }}
  auth: {{ bitwarden.auth | default(False) }}
  domain: {{ bitwarden.domain | default(False) }}
  subdomain: {{ bitwarden.subdomain | default("bitwarden") }}
  version: {{ bitwarden.version | default("latest") }}
  port: {{ bitwarden.port | default("80") }}
  # Enable admin page
  # IMPORTANT: Activate HTTPS before enabling this feature, to avoid possible MITM attacks.
  # Reference: https://github.com/dani-garcia/bitwarden_rs/wiki/Enabling-admin-page
{% raw %}
  token: "{{ vault.bitwarden.token }}"
{% endraw %}
  signups_allowed: {{ bitwarden.signups_allowed  | default(vault.bitwarden.signups_allowed, None) | default('true') }}
  # Only allow signups from certain domains (set signups_allowed to "false")
  # Note that no e-mail validation is done, only e-mail domain that's provided on registration
  # Can be a single entry "example.com", or multiple comma separated: "example.com,example.net,example.org"
  signups_domains_whitelist: {{ bitwarden.signups_domains_whitelist  | default(vault.bitwarden.signups_domains_whitelist, None) | default(False) }}

blank_on_purpose:
  enable: {{ blank_on_purpose.enable | default(enable_blank_on_purpose, None) | default(False) }}
  https_only: {{ blank_on_purpose.https_only | default(False) }}
  auth: {{ blank_on_purpose.auth | default(False) }}
  domain: {{ blank_on_purpose.domain | default(False) }}
  subdomain: {{ blank_on_purpose.subdomain | default("blank_on_purpose") }}
  version: {{ blank_on_purpose.version | default("latest") }}
  port: {{ blank_on_purpose.port | default("0") }}

bookstack:
  enable: {{ bookstack.enable | default(enable_bookstack, None) | default(False) }}
  https_only: {{ bookstack.https_only | default(False) }}
  auth: {{ bookstack.auth | default(False) }}
  domain: {{ bookstack.domain | default(False) }}
  subdomain: {{ bookstack.subdomain | default("bookstack") }}
  version: {{ bookstack.version | default("latest") }}
  port: {{ bookstack.port | default("80") }}

bulletnotes:
  enable: {{ bulletnotes.enable | default(enable_bulletnotes, None) | default(False) }}
  https_only: {{ bulletnotes.https_only | default(False) }}
  auth: {{ bulletnotes.auth | default(False) }}
  domain: {{ bulletnotes.domain | default(False) }}
  subdomain: {{ bulletnotes.subdomain | default("bulletnotes") }}
  version: {{ bulletnotes.version | default("latest") }}
  port: {{ bulletnotes.port | default("3000") }}

calibre:
  enable: {{ calibre.enable | default(enable_calibre, None) | default(False) }}
  https_only: {{ calibre.https_only | default(False) }}
  auth: {{ calibre.auth | default(False) }}
  domain: {{ calibre.domain | default(False) }}
  subdomain: {{ calibre.subdomain | default("calibre") }}
  version: {{ calibre.version | default("latest") }}
  port: {{ calibre.port | default("8083") }}

chowdown:
  enable: {{ chowdown.enable | default(enable_chowdown, None) | default(False) }}
  https_only: {{ chowdown.https_only | default(False) }}
  auth: {{ chowdown.auth | default(False) }}
  domain: {{ chowdown.domain | default(False) }}
  subdomain: {{ chowdown.subdomain | default("chowdown") }}
  version: {{ chowdown.version | default("latest") }}
  port: {{ chowdown.port | default("4000") }}

cockpit:
  enable: {{ cockpit.enable | default(enable_cockpit, None) | default(False) }}
  https_only: {{ cockpit.https_only | default(False) }}
  auth: {{ cockpit.auth | default(False) }}
  domain: {{ cockpit.domain | default(False) }}
  subdomain: {{ cockpit.subdomain | default("cockpit") }}
  version: {{ cockpit.version | default("latest") }}
  port: {{ cockpit.port | default("0") }}

codeserver:
  enable: {{ codeserver.enable | default(enable_codeserver, None) | default(False) }}
  https_only: {{ codeserver.https_only | default(False) }}
  auth: {{ codeserver.auth | default(False) }}
  domain: {{ codeserver.domain | default(False) }}
  subdomain: {{ codeserver.subdomain | default("codeserver") }}
  version: {{ codeserver.version | default("latest") }}
  port: {{ codeserver.port | default("8080") }}

codimd:
  enable: {{ codimd.enable | default(enable_codimd, None) | default(False) }}
  https_only: {{ codimd.https_only | default(False) }}
  auth: {{ codimd.auth | default(False) }}
  domain: {{ codimd.domain | default(False) }}
  subdomain: {{ codimd.subdomain | default("codimd") }}
  version: {{ codimd.version | default("9.6-alpine") }}
  port: {{ codimd.port | default("3000") }}

digikam:
  enable: {{ digikam.enable | default(enable_digikam, None) | default(False) }}
  https_only: {{ digikam.https_only | default(False) }}
  auth: {{ digikam.auth | default(False) }}
  domain: {{ digikam.domain | default(False) }}
  subdomain: {{ digikam.subdomain | default("digikam") }}
  version: {{ digikam.version | default("stable") }}
  port: {{ digikam.port | default("5800") }}

drone:
  enable: {{ drone.enable | default(enable_drone, None) | default(False) }}
  https_only: {{ drone.https_only | default(False) }}
  auth: {{ drone.auth | default(False) }}
  domain: {{ drone.domain | default(False) }}
  subdomain: {{ drone.subdomain | default("drone") }}
  version: {{ drone.version | default("latest") }}
  port: {{ drone.port | default("80") }}
{% raw %}
  gitea_id: "{{ vault.drone.gitea_id | default(False) }}"
  gitea_secret: "{{ vault.drone.gitea_secret | default(False) }}"
{% endraw %}

duckdns:
  enable: {{ duckdns.enable | default(enable_duckdns, None) | default(False) }}
  https_only: {{ duckdns.https_only | default(False) }}
  auth: {{ duckdns.auth | default(False) }}
  domain: {{ duckdns.domain | default(False) }}
  subdomain: {{ duckdns.subdomain | default("duckdns") }}
  version: {{ duckdns.version | default("latest") }}
  port: {{ duckdns.port | default("0") }}
{% raw %}
  token: "{{ vault.duckdns.token | default(False) }}"
{% endraw %}

duplicati:
  enable: {{ duplicati.enable | default(enable_duplicati, None) | default(False) }}
  https_only: {{ duplicati.https_only | default(False) }}
  auth: {{ duplicati.auth | default(False) }}
  domain: {{ duplicati.domain | default(False) }}
  subdomain: {{ duplicati.subdomain | default("duplicati") }}
  version: {{ duplicati.version | default("latest") }}
  port: {{ duplicati.port | default("8200") }}

elkstack:
  enable: {{ elkstack.enable | default(enable_elkstack, None) | default(False) }}
  https_only: {{ elkstack.https_only | default(False) }}
  auth: {{ elkstack.auth | default(False) }}
  domain: {{ elkstack.domain | default(False) }}
  subdomain: {{ elkstack.subdomain | default("elkstack") }}
  version: {{ elkstack.version | default("latest") }}
  port: {{ elkstack.port | default("5601") }}

emby:
  enable: {{ emby.enable | default(enable_emby, None) | default(False) }}
  https_only: {{ emby.https_only | default(False) }}
  auth: {{ emby.auth | default(False) }}
  domain: {{ emby.domain | default(False) }}
  subdomain: {{ emby.subdomain | default("emby") }}
  version: {{ emby.version | default("latest") }}
  port: {{ emby.port | default("8096") }}

erpnext:
  enable: {{ erpnext.enable | default(enable_erpnext, None) | default(False) }}
  https_only: {{ erpnext.https_only | default(False) }}
  auth: {{ erpnext.auth | default(False) }}
  domain: {{ erpnext.domain | default(False) }}
  subdomain: {{ erpnext.subdomain | default("erpnext") }}
  version: {{ erpnext.version | default("v11") }}
  port: {{ erpnext.port | default("80") }}
  db_version: {{ erpnext.db_version | default("10.3") }}
  redis_version: {{ erpnext.redis_version | default("latest") }}

ethercalc:
  enable: {{ ethercalc.enable | default(enable_ethercalc, None) | default(False) }}
  https_only: {{ ethercalc.https_only | default(False) }}
  auth: {{ ethercalc.auth | default(False) }}
  domain: {{ ethercalc.domain | default(False) }}
  subdomain: {{ ethercalc.subdomain | default("ethercalc") }}
  version: {{ ethercalc.version | default("latest") }}
  port: {{ ethercalc.port | default("8000") }}
  redis_version: {{ ethercalc.redis_version | default("latest") }}

factorio:
  enable: {{ factorio.enable | default(enable_factorio, None) | default(False) }}
  https_only: {{ factorio.https_only | default(False) }}
  auth: {{ factorio.auth | default(False) }}
  domain: {{ factorio.domain | default(False) }}
  subdomain: {{ factorio.subdomain | default("factorio") }}
  version: {{ factorio.version | default("latest") }}
  port: {{ factorio.port | default("0") }}

firefly_iii:
  enable: {{ firefly_iii.enable | default(enable_firefly_iii, None) | default(False) }}
  https_only: {{ firefly_iii.https_only | default(False) }}
  auth: {{ firefly_iii.auth | default(False) }}
  domain: {{ firefly_iii.domain | default(False) }}
  subdomain: {{ firefly_iii.subdomain | default("firefly_iii") }}
  version: {{ firefly_iii.version | default("latest") }}
  port: {{ firefly_iii.port | default("8080") }}
  db_version: {{ firefly_iii.db_version | default("12") }}

folding_at_home:
  enable: {{ folding_at_home.enable | default(enable_folding_at_home, None) | default(False) }}
  https_only: {{ folding_at_home.https_only | default(False) }}
  auth: {{ folding_at_home.auth | default(False) }}
  domain: {{ folding_at_home.domain | default(False) }}
  subdomain: {{ folding_at_home.subdomain | default("folding_at_home") }}
  version: {{ folding_at_home.version | default("latest") }}
  port: {{ folding_at_home.port | default("7396") }}
  username: {{ folding_at_home.username | default( default_username ) }}
  # Team HomelabOS - https://stats.foldingathome.org/team/261443
  team: {{ folding_at_home.team | default( "261443" ) }}
  # Valid values are 'light', 'medium' or 'full'
  power: {{ folding_at_home.power | default("full") }}

freshrss:
  enable: {{ freshrss.enable | default(enable_freshrss, None) | default(False) }}
  https_only: {{ freshrss.https_only | default(False) }}
  auth: {{ freshrss.auth | default(False) }}
  domain: {{ freshrss.domain | default(False) }}
  subdomain: {{ freshrss.subdomain | default("freshrss") }}
  version: {{ freshrss.version | default("alpine") }}
  port: {{ freshrss.port | default("80") }}

funkwhale:
  enable: {{ funkwhale.enable | default(enable_funkwhale, None) | default(False) }}
  https_only: {{ funkwhale.https_only | default(False) }}
  auth: {{ funkwhale.auth | default(False) }}
  domain: {{ funkwhale.domain | default(False) }}
  subdomain: {{ funkwhale.subdomain | default("funkwhale") }}
  version: {{ funkwhale.version | default("latest") }}
  port: {{ funkwhale.port | default("80") }}

ghost:
  enable: {{ ghost.enable | default(enable_ghost, None) | default(False) }}
  https_only: {{ ghost.https_only | default(False) }}
  auth: {{ ghost.auth | default(False) }}
  domain: {{ ghost.domain | default(False) }}
  subdomain: {{ ghost.subdomain | default("ghost") }}
  version: {{ ghost.version | default("3-alpine") }}
  port: {{ ghost.port | default("2368") }}

gitea:
  enable: {{ gitea.enable | default(enable_gitea, None) | default(False) }}
  https_only: {{ gitea.https_only | default(False) }}
  auth: {{ gitea.auth | default(False) }}
  domain: {{ gitea.domain | default(False) }}
  subdomain: {{ gitea.subdomain | default("gitea") }}
  version: {{ gitea.version | default("1.11.8") }}
  port: {{ gitea.port | default("3000") }}
  db_version: {{ gitea.db_version | default("latest") }}
  use_mariadb: {{ gitea.use_mariadb | default(False) }}
  gitea_ssh_port: {{ gitea.gitea_ssh_port | default(222) }}

gitlab:
  enable: {{ gitlab.enable | default(enable_gitlab, None) | default(False) }}
  https_only: {{ gitlab.https_only | default(False) }}
  auth: {{ gitlab.auth | default(False) }}
  domain: {{ gitlab.domain | default(False) }}
  subdomain: {{ gitlab.subdomain | default("gitlab") }}
  version: {{ gitlab.version | default("latest") }}
  port: {{ gitlab.port | default("80") }}
  runner_version: {{ gitlab.runner_version | default("alpine") }}
  db_version: {{ gitlab.db_version | default("latest") }}
  registry_version: {{ gitlab.registry_version | default("latest") }}
  # Currently using default AWS vault entries for region/access_key/secret_key
  aws_lfs_enabled: {{ gitlab.aws_lfs_enabled | default(False) }}
  aws_lfs_bucket: {{ gitlab.aws_lfs_bucket | default(False) }}
  aws_storage_enabled: {{ gitlab.aws_lfs_enabled | default(False) }}
  aws_storage_bucket: {{ gitlab.aws_storage_bucket | default(False) }}
  aws_backup_enabled: {{ gitlab.aws_backup_enabled | default(False) }}
  aws_backup_bucket: {{ gitlab.aws_backup_bucket | default(False) }}
  aws_registry_enabled: {{ gitlab.aws_registry_enabled | default(False) }}
  aws_registry_bucket: {{ gitlab.aws_registry_bucket | default(False) }}
  ssh_port: {{ gitlab.ssh_port | default(223) }}
  registry:
    https_only: {{ gitlab.registry.https_only | default(False) }}
    auth: {{ gitlab.registry.auth | default(False) }}
    domain: {{ gitlab.registry.domain | default(False) }}
    subdomain: {{ gitlab.registry.subdomain | default("registry") }}

gotify:
  enable: {{ gotify.enable | default(enable_gotify, None) | default(False) }}
  https_only: {{ gotify.https_only | default(False) }}
  auth: {{ gotify.auth | default(False) }}
  domain: {{ gotify.domain | default(False) }}
  subdomain: {{ gotify.subdomain | default("gotify") }}
  version: {{ gotify.version | default("latest") }}
  port: {{ gotify.port | default("80") }}

grafana:
  enable: {{ grafana.enable | default(enable_grafana, None) | default(False) }}
  https_only: {{ grafana.https_only | default(False) }}
  auth: {{ grafana.auth | default(False) }}
  domain: {{ grafana.domain | default(False) }}
  subdomain: {{ grafana.subdomain | default("grafana") }}
  version: {{ grafana.version | default("latest") }}
  port: {{ grafana.port | default("3000") }}

grocy:
  enable: {{ grocy.enable | default(enable_grocy, None) | default(False) }}
  https_only: {{ grocy.https_only | default(False) }}
  auth: {{ grocy.auth | default(False) }}
  domain: {{ grocy.domain | default(False) }}
  subdomain: {{ grocy.subdomain | default("grocy") }}
  version: {{ grocy.version | default("latest") }}
  port: {{ grocy.port | default("80") }}

grownetics:
  enable: {{ grownetics.enable | default(enable_grownetics, None) | default(False) }}
  https_only: {{ grownetics.https_only | default(False) }}
  auth: {{ grownetics.auth | default(False) }}
  domain: {{ grownetics.domain | default(False) }}
  subdomain: {{ grownetics.subdomain | default("grownetics") }}
  version: {{ grownetics.version | default("latest") }}
  port: {{ grownetics.port | default("80") }}

guacamole:
  enable: {{ guacamole.enable | default(enable_guacamole, None) | default(False) }}
  https_only: {{ guacamole.https_only | default(False) }}
  auth: {{ guacamole.auth | default(False) }}
  domain: {{ guacamole.domain | default(False) }}
  subdomain: {{ guacamole.subdomain | default("guacamole") }}
  version: {{ guacamole.version | default("latest") }}
  port: {{ guacamole.port | default("0") }}

healthchecks:
  enable: {{ healthchecks.enable | default(enable_healthchecks, None) | default(False) }}
  https_only: {{ healthchecks.https_only | default(False) }}
  auth: {{ healthchecks.auth | default(False) }}
  domain: {{ healthchecks.domain | default(False) }}
  subdomain: {{ healthchecks.subdomain | default("healthchecks") }}
  version: {{ healthchecks.version | default("latest") }}
  port: {{ healthchecks.port | default("8000") }}

heimdall:
  enable: {{ heimdall.enable | default(enable_heimdall, None) | default(False) }}
  https_only: {{ heimdall.https_only | default(False) }}
  auth: {{ heimdall.auth | default(False) }}
  domain: {{ heimdall.domain | default(False) }}
  subdomain: {{ heimdall.subdomain | default("heimdall") }}
  version: {{ heimdall.version | default("latest") }}
  port: {{ heimdall.port | default("80") }}

homeassistant:
  enable: {{ homeassistant.enable | default(enable_homeassistant, None) | default(False) }}
  https_only: {{ homeassistant.https_only | default(False) }}
  auth: {{ homeassistant.auth | default(False) }}
  domain: {{ homeassistant.domain | default(False) }}
  subdomain: {{ homeassistant.subdomain | default("homeassistant") }}
  version: {{ homeassistant.version | default("latest") }}
  port: {{ homeassistant.port | default("8123") }}
  use_supervisord: {{ homeassistant.use_supervisord | default(False)}}

homebridge:
  enable: {{ homebridge.enable | default(enable_homebridge, None) | default(False) }}
  https_only: {{ homebridge.https_only | default(False) }}
  auth: {{ homebridge.auth | default(False) }}
  domain: {{ homebridge.domain | default(False) }}
  subdomain: {{ homebridge.subdomain | default("homebridge") }}
  version: {{ homebridge.version | default("latest") }}
  port: {{ homebridge.port | default("8581") }}

homedash:
  enable: {{ homedash.enable | default(enable_homedash, None) | default(False) }}
  https_only: {{ homedash.https_only | default(False) }}
  auth: {{ homedash.auth | default(False) }}
  domain: {{ homedash.domain | default(False) }}
  subdomain: {{ homedash.subdomain | default("homedash") }}
  version: {{ homedash.version | default("latest") }}
  port: {{ homedash.port | default("4567") }}

hubzilla:
  enable: {{ hubzilla.enable | default(enable_hubzilla, None) | default(False) }}
  https_only: {{ hubzilla.https_only | default(False) }}
  auth: {{ hubzilla.auth | default(False) }}
  domain: {{ hubzilla.domain | default(False) }}
  subdomain: {{ hubzilla.subdomain | default("hubzilla") }}
  version: {{ hubzilla.version | default("4.6") }}
  port: {{ hubzilla.port | default("80") }}
  db_version: {{ hubzilla.db_version | default("12.2-alpine") }}
  web_version: {{ hubzilla.web_version | default("1.17.10-alpine") }}

huginn:
  enable: {{ huginn.enable | default(enable_huginn, None) | default(False) }}
  https_only: {{ huginn.https_only | default(False) }}
  auth: {{ huginn.auth | default(False) }}
  domain: {{ huginn.domain | default(False) }}
  subdomain: {{ huginn.subdomain | default("huginn") }}
  version: {{ huginn.version | default("latest") }}
  port: {{ huginn.port | default("3000") }}
  db_version: {{ huginn.db_version | default("10.3") }}

invidious:
  enable: {{ invidious.enable | default(enable_invidious, None) | default(False) }}
  https_only: {{ invidious.https_only | default(False) }}
  auth: {{ invidious.auth | default(False) }}
  domain: {{ invidious.domain | default(False) }}
  subdomain: {{ invidious.subdomain | default("invidious") }}
  version: {{ invidious.version | default("latest") }}
  port: {{ invidious.port | default("3000") }}
  cpus_limit: {{ invidious.cpus_limit | default("0.5") }}
  mem_limit: {{ invidious.mem_limit | default("1024M") }}

invoiceninja:
  enable: {{ invoiceninja.enable | default(enable_invoiceninja, None) | default(False) }}
  https_only: {{ invoiceninja.https_only | default(False) }}
  auth: {{ invoiceninja.auth | default(False) }}
  domain: {{ invoiceninja.domain | default(False) }}
  subdomain: {{ invoiceninja.subdomain | default("invoiceninja") }}
  version: {{ invoiceninja.version | default("latest") }}
  port: {{ invoiceninja.port | default("0") }}

jackett:
  enable: {{ jackett.enable | default(enable_jackett, None) | default(False) }}
  https_only: {{ jackett.https_only | default(False) }}
  auth: {{ jackett.auth | default(False) }}
  domain: {{ jackett.domain | default(False) }}
  subdomain: {{ jackett.subdomain | default("jackett") }}
  version: {{ jackett.version | default("latest") }}
  port: {{ jackett.port | default("9117") }}

jellyfin:
  enable: {{ jellyfin.enable | default(enable_jellyfin, None) | default(False) }}
  https_only: {{ jellyfin.https_only | default(False) }}
  auth: {{ jellyfin.auth | default(False) }}
  domain: {{ jellyfin.domain | default(False) }}
  subdomain: {{ jellyfin.subdomain | default("jellyfin") }}
  version: {{ jellyfin.version | default("latest") }}
  port: {{ jellyfin.port | default("8096") }}

jenkins:
  enable: {{ jenkins.enable | default(enable_jenkins, None) | default(False) }}
  https_only: {{ jenkins.https_only | default(False) }}
  auth: {{ jenkins.auth | default(False) }}
  domain: {{ jenkins.domain | default(False) }}
  subdomain: {{ jenkins.subdomain | default("jenkins") }}
  version: {{ jenkins.version | default("latest") }}
  port: {{ jenkins.port | default("8080") }}
  allow_docker: {{ jenkins.allow_docker | default(False)}}
  additional_packages: {{ jenkins.additional_packages | default([]) }}

keycloak:
  enable: {{ keycloak.enable | default(enable_keycloak, None) | default(False) }}
  https_only: {{ keycloak.https_only | default(False) }}
  auth: {{ keycloak.auth | default(False) }}
  domain: {{ keycloak.domain | default(False) }}
  subdomain: {{ keycloak.subdomain | default("keycloak") }}
  version: {{ keycloak.version | default("latest") }}
  port: {{ keycloak.port | default("8080") }}
  db_version: {{ keycloak.db_version | default("alpine") }}

kibitzr:
  enable: {{ kibitzr.enable | default(enable_kibitzr, None) | default(False) }}
  https_only: {{ kibitzr.https_only | default(False) }}
  auth: {{ kibitzr.auth | default(False) }}
  domain: {{ kibitzr.domain | default(False) }}
  subdomain: {{ kibitzr.subdomain | default("kibitzr") }}
  version: {{ kibitzr.version | default("latest") }}
  port: {{ kibitzr.port | default("0") }}

lazylibrarian:
  enable: {{ lazylibrarian.enable | default(enable_lazylibrarian, None) | default(False) }}
  https_only: {{ lazylibrarian.https_only | default(False) }}
  auth: {{ lazylibrarian.auth | default(False) }}
  domain: {{ lazylibrarian.domain | default(False) }}
  subdomain: {{ lazylibrarian.subdomain | default("lazylibrarian") }}
  version: {{ lazylibrarian.version | default("latest") }}
  port: {{ lazylibrarian.port | default("5299") }}

lidarr:
  enable: {{ lidarr.enable | default(enable_lidarr, None) | default(False) }}
  https_only: {{ lidarr.https_only | default(False) }}
  auth: {{ lidarr.auth | default(False) }}
  domain: {{ lidarr.domain | default(False) }}
  subdomain: {{ lidarr.subdomain | default("lidarr") }}
  version: {{ lidarr.version | default("latest") }}
  port: {{ lidarr.port | default("8686") }}

mailu:
  enable: {{ mailu.enable | default(enable_mailu, None) | default(False) }}
  https_only: {{ mailu.https_only | default(False) }}
  auth: {{ mailu.auth | default(False) }}
  domain: {{ mailu.domain | default(False) }}
  subdomain: {{ mailu.subdomain | default("mailu") }}
  version: {{ mailu.version | default("1.7") }}
  port: {{ mailu.port | default("80") }}
  redis_version: {{ mailu.redis_version | default ("alpine") }}
  certdumper_version: {{ mailu.certdumper_version | default ("master") }}
  forward_to_smtp: {{ mailu.forward_to_smtp | default(False)  }}
  enable_secure_imap: {{ mailu.enable_secure_imap | default(True) }} #port 993
  enable_secure_pop3: {{ mailu.enable_secure_pop3 | default(False) }} #port 995
  enable_unsecure_pop3: {{ mailu.enable_unsecure_pop3 | default(False) }} #port 110
  enable_unsecure_imap: {{ mailu.enable_unsecure_imap | default(False) }} #port 143
  enable_legacy_smtps: {{ mailu.enable_legacy_smtps | default(False) }}   #port 465

massivedecks:
  enable: {{ massivedecks.enable | default(enable_massivedecks, None) | default(False) }}
  https_only: {{ massivedecks.https_only | default(False) }}
  auth: {{ massivedecks.auth | default(False) }}
  domain: {{ massivedecks.domain | default(False) }}
  subdomain: {{ massivedecks.subdomain | default("massivedecks") }}
  version: {{ massivedecks.version | default("latest") }}
  port: {{ massivedecks.port | default("8080") }}

matomo:
  enable: {{ matomo.enable | default(enable_matomo, None) | default(False) }}
  https_only: {{ matomo.https_only | default(False) }}
  auth: {{ matomo.auth | default(False) }}
  domain: {{ matomo.domain | default(False) }}
  subdomain: {{ matomo.subdomain | default("matomo") }}
  version: {{ matomo.version | default("latest") }}
  port: {{ matomo.port | default("80") }}
  db_version: {{ matomo.db_version | default ("latest") }}

matterbridge:
  enable: {{ matterbridge.enable | default(enable_matterbridge, None) | default(False) }}
  https_only: {{ matterbridge.https_only | default(False) }}
  auth: {{ matterbridge.auth | default(False) }}
  domain: {{ matterbridge.domain | default(False) }}
  subdomain: {{ matterbridge.subdomain | default("matterbridge") }}
  version: {{ matterbridge.version | default("latest") }}
  port: {{ matterbridge.port | default("0") }}

mayan:
  enable: {{ mayan.enable | default(enable_mayan, None) | default(False) }}
  https_only: {{ mayan.https_only | default(False) }}
  auth: {{ mayan.auth | default(False) }}
  domain: {{ mayan.domain | default(False) }}
  subdomain: {{ mayan.subdomain | default("mayan") }}
  version: {{ mayan.version | default("latest") }}
  port: {{ mayan.port | default("8000") }}
  db_version: {{ mayan.db_version | default("latest") }}
  redis_version: {{ mayan.redis_version | default("latest") }}
  rabbit_version: {{ mayan.rabbit_version | default("latest") }}

mealie:
  enable: {{ mealie.enable | default(enable_mealie, None) | default(False) }}
  https_only: {{ mealie.https_only | default(False) }}
  auth: {{ mealie.auth | default(False) }}
  domain: {{ mealie.domain | default(False) }}
  subdomain: {{ mealie.subdomain | default("mealie") }}
  version: {{ mealie.version | default("latest") }}
  port: {{ mealie.port | default("80") }}

minecraft:
  enable: {{ minecraft.enable | default(enable_minecraft, None) | default(False) }}
  https_only: {{ minecraft.https_only | default(False) }}
  auth: {{ minecraft.auth | default(False) }}
  domain: {{ minecraft.domain | default(False) }}
  subdomain: {{ minecraft.subdomain | default("minecraft") }}
  version: {{ minecraft.version | default("latest") }}
  port: {{ minecraft.port | default("0") }}

minecraftbedrockserver:
  enable: {{ minecraftbedrockserver.enable | default(enable_minecraftbedrockserver, None) | default(False) }}
  https_only: {{ minecraftbedrockserver.https_only | default(False) }}
  auth: {{ minecraftbedrockserver.auth | default(False) }}
  domain: {{ minecraftbedrockserver.domain | default(False) }}
  subdomain: {{ minecraftbedrockserver.subdomain | default("minecraftbedrockserver") }}
  version: {{ minecraftbedrockserver.version | default("latest") }}
  port: {{ minecraftbedrockserver.port | default("0") }}

miniflux:
  enable: {{ miniflux.enable | default(enable_miniflux, None) | default(False) }}
  https_only: {{ miniflux.https_only | default(False) }}
  auth: {{ miniflux.auth | default(False) }}
  domain: {{ miniflux.domain | default(False) }}
  subdomain: {{ miniflux.subdomain | default("miniflux") }}
  version: {{ miniflux.version | default("2.0.21") }}
  port: {{ miniflux.port | default("8080") }}
  db_version: {{ miniflux.db_version | default("10.1") }}

minio:
  enable: {{ minio.enable | default(enable_minio, None) | default(False) }}
  https_only: {{ minio.https_only | default(False) }}
  auth: {{ minio.auth | default(False) }}
  domain: {{ minio.domain | default(False) }}
  subdomain: {{ minio.subdomain | default("minio") }}
  version: {{ minio.version | default("latest") }}
  port: {{ minio.port | default("9000") }}

monicahq:
  enable: {{ monicahq.enable | default(enable_monicahq, None) | default(False) }}
  https_only: {{ monicahq.https_only | default(False) }}
  auth: {{ monicahq.auth | default(False) }}
  domain: {{ monicahq.domain | default(False) }}
  subdomain: {{ monicahq.subdomain | default("monicahq") }}
  version: {{ monicahq.version | default("latest") }}
  port: {{ monicahq.port | default("80") }}
  db_version: {{ monicahq.db_version | default("latest") }}
  disable_signup: {{ monicahq.disable_signup | default(True) }}

mstream:
  enable: {{ mstream.enable | default(enable_mstream, None) | default(False) }}
  https_only: {{ mstream.https_only | default(False) }}
  auth: {{ mstream.auth | default(False) }}
  domain: {{ mstream.domain | default(False) }}
  subdomain: {{ mstream.subdomain | default("mstream") }}
  version: {{ mstream.version | default("latest") }}
  port: {{ mstream.port | default("3000") }}

mybb:
  enable: {{ mybb.enable | default(enable_mybb, None) | default(False) }}
  https_only: {{ mybb.https_only | default(False) }}
  auth: {{ mybb.auth | default(False) }}
  domain: {{ mybb.domain | default(False) }}
  subdomain: {{ mybb.subdomain | default("mybb") }}
  version: {{ mybb.version | default("latest") }}
  port: {{ mybb.port | default("80") }}

mylar:
  enable: {{ mylar.enable | default(enable_mylar, None) | default(False) }}
  https_only: {{ mylar.https_only | default(False) }}
  auth: {{ mylar.auth | default(False) }}
  domain: {{ mylar.domain | default(False) }}
  subdomain: {{ mylar.subdomain | default("mylar") }}
  version: {{ mylar.version | default("latest") }}
  port: {{ mylar.port | default("8090") }}

n8n:
  enable: {{ n8n.enable | default(enable_n8n, None) | default(False) }}
  https_only: {{ n8n.https_only | default(False) }}
  auth: {{ n8n.auth | default(False) }}
  domain: {{ n8n.domain | default(False) }}
  subdomain: {{ n8n.subdomain | default("n8n") }}
  version: {{ n8n.version | default("latest") }}
  port: {{ n8n.port | default("5678") }}

netdata:
  enable: {{ netdata.enable | default(enable_netdata, None) | default(False) }}
  https_only: {{ netdata.https_only | default(False) }}
  auth: {{ netdata.auth | default(False) }}
  domain: {{ netdata.domain | default(False) }}
  subdomain: {{ netdata.subdomain | default("netdata") }}
  version: {{ netdata.version | default("latest") }}
  port: {{ netdata.port | default("19999") }}

nextcloud:
  enable: {{ nextcloud.enable | default(enable_nextcloud, None) | default(False) }}
  https_only: {{ nextcloud.https_only | default(False) }}
  auth: {{ nextcloud.auth | default(False) }}
  domain: {{ nextcloud.domain | default(False) }}
  subdomain: {{ nextcloud.subdomain | default("nextcloud") }}
  version: {{ nextcloud.version | default("22-apache") }}
  port: {{ nextcloud.port | default("80") }}
  db_version: {{ nextcloud.db_version | default("alpine") }}
  use_mariadb: {{ nextcloud.use_mariadb | default(False) }}
  redis_version: {{ nextcloud.redis_version | default("5.0-alpine") }}

nodered:
  enable: {{ nodered.enable | default(enable_nodered, None) | default(False) }}
  https_only: {{ nodered.https_only | default(False) }}
  auth: {{ nodered.auth | default(False) }}
  domain: {{ nodered.domain | default(False) }}
  subdomain: {{ nodered.subdomain | default("nodered") }}
  version: {{ nodered.version | default("latest-12-minimal") }}
  port: {{ nodered.port | default("1880") }}
  node_options: {{ nodered.node_options | default("") }}
  enable_projects: {{ nodered.enable_projects | default(False) }}
  safe_mode: {{ nodered.safe_mode | default(False) }}

nzbget:
  enable: {{ nzbget.enable | default(enable_nzbget, None) | default(False) }}
  https_only: {{ nzbget.https_only | default(False) }}
  auth: {{ nzbget.auth | default(False) }}
  domain: {{ nzbget.domain | default(False) }}
  subdomain: {{ nzbget.subdomain | default("nzbget") }}
  version: {{ nzbget.version | default("latest") }}
  port: {{ nzbget.port | default("6789") }}

octoprint:
  enable: {{ octoprint.enable | default(enable_octoprint, None) | default(False) }}
  https_only: {{ octoprint.https_only | default(False) }}
  auth: {{ octoprint.auth | default(False) }}
  domain: {{ octoprint.domain | default(False) }}
  subdomain: {{ octoprint.subdomain | default("octoprint") }}
  version: {{ octoprint.version | default("latest") }}
  port: {{ octoprint.port | default("5000") }}

ombi:
  enable: {{ ombi.enable | default(enable_ombi, None) | default(False) }}
  https_only: {{ ombi.https_only | default(False) }}
  auth: {{ ombi.auth | default(False) }}
  domain: {{ ombi.domain | default(False) }}
  subdomain: {{ ombi.subdomain | default("ombi") }}
  version: {{ ombi.version | default("latest") }}
  port: {{ ombi.port | default("5000") }}

openldap:
  enable: {{ openldap.enable | default(enable_openldap, None) | default(False) }}
  https_only: {{ openldap.https_only | default(False) }}
  auth: {{ openldap.auth | default(False) }}
  domain: {{ openldap.domain | default(False) }}
  subdomain: {{ openldap.subdomain | default("openldap") }}
  version: {{ openldap.version | default("latest") }}
  port: {{ openldap.port | default("80") }}

openvpn:
  enable: {{ openvpn.enable | default(enable_openvpn, None) | default(False) }}
  https_only: {{ openvpn.https_only | default(False) }}
  auth: {{ openvpn.auth | default(False) }}
  domain: {{ openvpn.domain | default(False) }}
  subdomain: {{ openvpn.subdomain | default("openvpn") }}
  version: {{ openvpn.version | default("latest") }}
  port: {{ openvpn.port | default("0") }}

organizr:
  enable: {{ organizr.enable | default(enable_organizr, None) | default(False) }}
  https_only: {{ organizr.https_only | default(False) }}
  auth: {{ organizr.auth | default(False) }}
  domain: {{ organizr.domain | default(False) }}
  subdomain: {{ organizr.subdomain | default("organizr") }}
  version: {{ organizr.version | default("latest") }}
  port: {{ organizr.port | default("80") }}
  fpm: {{ organizr.fpm | default("false") }}
  branch: {{ organizr.branch | default("master") }}

overseerr:
  enable: {{ overseerr.enable | default(enable_overseerr, None) | default(False) }}
  https_only: {{ overseerr.https_only | default(False) }}
  auth: {{ overseerr.auth | default(False) }}
  domain: {{ overseerr.domain | default(False) }}
  subdomain: {{ overseerr.subdomain | default("overseerr") }}
  version: {{ overseerr.version | default("latest") }}
  port: {{ overseerr.port | default("5055") }}

ownphotos:
  enable: {{ ownphotos.enable | default(enable_ownphotos, None) | default(False) }}
  https_only: {{ ownphotos.https_only | default(False) }}
  auth: {{ ownphotos.auth | default(False) }}
  domain: {{ ownphotos.domain | default(False) }}
  subdomain: {{ ownphotos.subdomain | default("ownphotos") }}
  version: {{ ownphotos.version | default("latest") }}
  port: {{ ownphotos.port | default("80") }}

paperless:
  enable: {{ paperless.enable | default(enable_paperless, None) | default(False) }}
  https_only: {{ paperless.https_only | default(False) }}
  auth: {{ paperless.auth | default(False) }}
  domain: {{ paperless.domain | default(False) }}
  subdomain: {{ paperless.subdomain | default("paperless") }}
  version: {{ paperless.version | default("latest") }}
  port: {{ paperless.port | default("8000") }}

peertube:
  enable: {{ peertube.enable | default(enable_peertube, None) | default(False) }}
  https_only: {{ peertube.https_only | default(False) }}
  auth: {{ peertube.auth | default(False) }}
  domain: {{ peertube.domain | default(False) }}
  subdomain: {{ peertube.subdomain | default("peertube") }}
  version: {{ peertube.version | default("latest") }}
  port: {{ peertube.port | default("0") }}

photoprism:
  enable: {{ photoprism.enable | default(enable_photoprism, None) | default(False) }}
  https_only: {{ photoprism.https_only | default(False) }}
  auth: {{ photoprism.auth | default(False) }}
  domain: {{ photoprism.domain | default(False) }}
  subdomain: {{ photoprism.subdomain | default("photoprism") }}
  version: {{ photoprism.version | default("latest") }}
  port: {{ photoprism.port | default("2342") }}

phpbb:
  enable: {{ phpbb.enable | default(enable_phpbb, None) | default(False) }}
  https_only: {{ phpbb.https_only | default(False) }}
  auth: {{ phpbb.auth | default(False) }}
  domain: {{ phpbb.domain | default(False) }}
  subdomain: {{ phpbb.subdomain | default("phpbb") }}
  version: {{ phpbb.version | default("latest") }}
  port: {{ phpbb.port | default("0") }}

pihole:
  enable: {{ pihole.enable | default(enable_pihole, None) | default(False) }}
  https_only: {{ pihole.https_only | default(False) }}
  auth: {{ pihole.auth | default(False) }}
  domain: {{ pihole.domain | default(False) }}
  subdomain: {{ pihole.subdomain | default("pihole") }}
  version: {{ pihole.version | default("latest") }}
  port: {{ pihole.port | default("80") }}

piwigo:
  enable: {{ piwigo.enable | default(enable_piwigo, None) | default(False) }}
  https_only: {{ piwigo.https_only | default(False) }}
  auth: {{ piwigo.auth | default(False) }}
  domain: {{ piwigo.domain | default(False) }}
  subdomain: {{ piwigo.subdomain | default("piwigo") }}
  version: {{ piwigo.version | default("latest") }}
  port: {{ piwigo.port | default("0") }}

pixelfed:
  enable: {{ pixelfed.enable | default(enable_pixelfed, None) | default(False) }}
  https_only: {{ pixelfed.https_only | default(False) }}
  auth: {{ pixelfed.auth | default(False) }}
  domain: {{ pixelfed.domain | default(False) }}
  subdomain: {{ pixelfed.subdomain | default("pixelfed") }}
  version: {{ pixelfed.version | default("latest") }}
  port: {{ pixelfed.port | default("0") }}

pleroma:
  enable: {{ pleroma.enable | default(enable_pleroma, None) | default(False) }}
  https_only: {{ pleroma.https_only | default(False) }}
  auth: {{ pleroma.auth | default(False) }}
  domain: {{ pleroma.domain | default(False) }}
  subdomain: {{ pleroma.subdomain | default("pleroma") }}
  version: {{ pleroma.version | default("latest") }}
  port: {{ pleroma.port | default("0") }}

plex:
  enable: {{ plex.enable | default(enable_plex, None) | default(False) }}
  https_only: {{ plex.https_only | default(False) }}
  auth: {{ plex.auth | default(False) }}
  domain: {{ plex.domain | default(False) }}
  subdomain: {{ plex.subdomain | default("plex") }}
  version: {{ plex.version | default("latest") }}
  port: {{ plex.port | default("0") }}

poli:
  enable: {{ poli.enable | default(enable_poli, None) | default(False) }}
  https_only: {{ poli.https_only | default(False) }}
  auth: {{ poli.auth | default(False) }}
  domain: {{ poli.domain | default(False) }}
  subdomain: {{ poli.subdomain | default("poli") }}
  version: {{ poli.version | default("latest") }}
  port: {{ poli.port | default("6688") }}

portainer:
  enable: {{ portainer.enable | default(enable_portainer, None) | default(False) }}
  https_only: {{ portainer.https_only | default(False) }}
  auth: {{ portainer.auth | default(False) }}
  domain: {{ portainer.domain | default(False) }}
  subdomain: {{ portainer.subdomain | default("portainer") }}
  version: {{ portainer.version | default("latest") }}
  port: {{ portainer.port | default("9000") }}

privatebin:
  enable: {{ privatebin.enable | default(enable_privatebin, None) | default(False) }}
  https_only: {{ privatebin.https_only | default(False) }}
  auth: {{ privatebin.auth | default(False) }}
  domain: {{ privatebin.domain | default(False) }}
  subdomain: {{ privatebin.subdomain | default("privatebin") }}
  version: {{ privatebin.version | default("latest") }}
  port: {{ privatebin.port | default("0") }}

qbittorrent:
  enable: {{ qbittorrent.enable | default(enable_qbittorrent, None) | default(False) }}
  https_only: {{ qbittorrent.https_only | default(False) }}
  auth: {{ qbittorrent.auth | default(False) }}
  domain: {{ qbittorrent.domain | default(False) }}
  subdomain: {{ qbittorrent.subdomain | default("qbittorrent") }}
  version: {{ qbittorrent.version | default("latest") }}
  port: {{ qbittorrent.port | default("0") }}

quakejs:
  enable: {{ quakejs.enable | default(enable_quakejs, None) | default(False) }}
  https_only: {{ quakejs.https_only | default(False) }}
  auth: {{ quakejs.auth | default(False) }}
  domain: {{ quakejs.domain | default(False) }}
  subdomain: {{ quakejs.subdomain | default("quakejs") }}
  version: {{ quakejs.version | default("latest") }}
  port: {{ quakejs.port | default("80") }}

radarr:
  enable: {{ radarr.enable | default(enable_radarr, None) | default(False) }}
  https_only: {{ radarr.https_only | default(False) }}
  auth: {{ radarr.auth | default(False) }}
  domain: {{ radarr.domain | default(False) }}
  subdomain: {{ radarr.subdomain | default("radarr") }}
  version: {{ radarr.version | default("latest") }}
  port: {{ radarr.port | default("0") }}

readarr:
  enable: {{ readarr.enable | default(enable_readarr, None) | default(False) }}
  https_only: {{ readarr.https_only | default(False) }}
  auth: {{ readarr.auth | default(False) }}
  domain: {{ readarr.domain | default(False) }}
  subdomain: {{ readarr.subdomain | default("readarr") }}
  version: {{ readarr.version | default("latest") }}
  port: {{ readarr.port | default("0") }}

restic:
  enable: {{ restic.enable | default(enable_restic, None) | default(False) }}
  https_only: {{ restic.https_only | default(False) }}
  auth: {{ restic.auth | default(False) }}
  domain: {{ restic.domain | default(False) }}
  subdomain: {{ restic.subdomain | default("restic") }}
  version: {{ restic.version | default("latest") }}
  port: {{ restic.port | default("0") }}

rsshub:
  enable: {{ rsshub.enable | default(enable_rsshub, None) | default(False) }}
  https_only: {{ rsshub.https_only | default(False) }}
  auth: {{ rsshub.auth | default(False) }}
  domain: {{ rsshub.domain | default(False) }}
  subdomain: {{ rsshub.subdomain | default("rsshub") }}
  version: {{ rsshub.version | default("latest") }}
  port: {{ rsshub.port | default("0") }}

sabnzbd:
  enable: {{ sabnzbd.enable | default(enable_sabnzbd, None) | default(False) }}
  https_only: {{ sabnzbd.https_only | default(False) }}
  auth: {{ sabnzbd.auth | default(False) }}
  domain: {{ sabnzbd.domain | default(False) }}
  subdomain: {{ sabnzbd.subdomain | default("sabnzbd") }}
  version: {{ sabnzbd.version | default("latest") }}
  port: {{ sabnzbd.port | default("0") }}

samba:
  enable: {{ samba.enable | default(enable_samba, None) | default(False) }}
  https_only: {{ samba.https_only | default(False) }}
  auth: {{ samba.auth | default(False) }}
  domain: {{ samba.domain | default(False) }}
  subdomain: {{ samba.subdomain | default("samba") }}
  version: {{ samba.version | default("latest") }}
  port: {{ samba.port | default("0") }}

searx:
  enable: {{ searx.enable | default(enable_searx, None) | default(False) }}
  https_only: {{ searx.https_only | default(False) }}
  auth: {{ searx.auth | default(False) }}
  domain: {{ searx.domain | default(False) }}
  subdomain: {{ searx.subdomain | default("searx") }}
  version: {{ searx.version | default("latest") }}
  port: {{ searx.port | default("0") }}

seat:
  enable: {{ seat.enable | default(enable_seat, None) | default(False) }}
  https_only: {{ seat.https_only | default(False) }}
  auth: {{ seat.auth | default(False) }}
  domain: {{ seat.domain | default(False) }}
  subdomain: {{ seat.subdomain | default("seat") }}
  version: {{ seat.version | default("latest") }}
  port: {{ seat.port | default("0") }}

shinobi:
  enable: {{ shinobi.enable | default(enable_shinobi, None) | default(False) }}
  https_only: {{ shinobi.https_only | default(False) }}
  auth: {{ shinobi.auth | default(False) }}
  domain: {{ shinobi.domain | default(False) }}
  subdomain: {{ shinobi.subdomain | default("shinobi") }}
  version: {{ shinobi.version | default("latest") }}
  port: {{ shinobi.port | default("0") }}

sickchill:
  enable: {{ sickchill.enable | default(enable_sickchill, None) | default(False) }}
  https_only: {{ sickchill.https_only | default(False) }}
  auth: {{ sickchill.auth | default(False) }}
  domain: {{ sickchill.domain | default(False) }}
  subdomain: {{ sickchill.subdomain | default("sickchill") }}
  version: {{ sickchill.version | default("latest") }}
  port: {{ sickchill.port | default("0") }}

simplyshorten:
  enable: {{ simplyshorten.enable | default(enable_simplyshorten, None) | default(False) }}
  https_only: {{ simplyshorten.https_only | default(False) }}
  auth: {{ simplyshorten.auth | default(False) }}
  domain: {{ simplyshorten.domain | default(False) }}
  subdomain: {{ simplyshorten.subdomain | default("simplyshorten") }}
  version: {{ simplyshorten.version | default("latest") }}
  port: {{ simplyshorten.port | default("0") }}

snibox:
  enable: {{ snibox.enable | default(enable_snibox, None) | default(False) }}
  https_only: {{ snibox.https_only | default(False) }}
  auth: {{ snibox.auth | default(False) }}
  domain: {{ snibox.domain | default(False) }}
  subdomain: {{ snibox.subdomain | default("snibox") }}
  version: {{ snibox.version | default("latest") }}
  port: {{ snibox.port | default("0") }}

sonarr:
  enable: {{ sonarr.enable | default(enable_sonarr, None) | default(False) }}
  https_only: {{ sonarr.https_only | default(False) }}
  auth: {{ sonarr.auth | default(False) }}
  domain: {{ sonarr.domain | default(False) }}
  subdomain: {{ sonarr.subdomain | default("sonarr") }}
  version: {{ sonarr.version | default("latest") }}
  port: {{ sonarr.port | default("8989") }}

speedtest:
  enable: {{ speedtest.enable | default(enable_speedtest, None) | default(False) }}
  https_only: {{ speedtest.https_only | default(False) }}
  auth: {{ speedtest.auth | default(False) }}
  domain: {{ speedtest.domain | default(False) }}
  subdomain: {{ speedtest.subdomain | default("speedtest") }}
  version: {{ speedtest.version | default("latest") }}
  port: {{ speedtest.port | default("0") }}

speedtest_tracker:
  enable: {{ speedtest_tracker.enable | default(enable_speedtest_tracker, None) | default(False) }}
  https_only: {{ speedtest_tracker.https_only | default(False) }}
  auth: {{ speedtest_tracker.auth | default(False) }}
  domain: {{ speedtest_tracker.domain | default(False) }}
  subdomain: {{ speedtest_tracker.subdomain | default("speedtest_tracker") }}
  version: {{ speedtest_tracker.version | default("latest") }}
  port: {{ speedtest_tracker.port | default("0") }}

statping:
  enable: {{ statping.enable | default(enable_statping, None) | default(False) }}
  https_only: {{ statping.https_only | default(False) }}
  auth: {{ statping.auth | default(False) }}
  domain: {{ statping.domain | default(False) }}
  subdomain: {{ statping.subdomain | default("statping") }}
  version: {{ statping.version | default("latest") }}
  port: {{ statping.port | default("0") }}

sui:
  enable: {{ sui.enable | default(enable_sui, None) | default(False) }}
  https_only: {{ sui.https_only | default(False) }}
  auth: {{ sui.auth | default(False) }}
  domain: {{ sui.domain | default(False) }}
  subdomain: {{ sui.subdomain | default("sui") }}
  version: {{ sui.version | default("latest") }}
  port: {{ sui.port | default("6999") }}

syncthing:
  enable: {{ syncthing.enable | default(enable_syncthing, None) | default(False) }}
  https_only: {{ syncthing.https_only | default(False) }}
  auth: {{ syncthing.auth | default(False) }}
  domain: {{ syncthing.domain | default(False) }}
  subdomain: {{ syncthing.subdomain | default("syncthing") }}
  version: {{ syncthing.version | default("latest") }}
  port: {{ syncthing.port | default("0") }}

taisun:
  enable: {{ taisun.enable | default(enable_taisun, None) | default(False) }}
  https_only: {{ taisun.https_only | default(False) }}
  auth: {{ taisun.auth | default(False) }}
  domain: {{ taisun.domain | default(False) }}
  subdomain: {{ taisun.subdomain | default("taisun") }}
  version: {{ taisun.version | default("latest") }}
  port: {{ taisun.port | default("0") }}

tautulli:
  enable: {{ tautulli.enable | default(enable_tautulli, None) | default(False) }}
  https_only: {{ tautulli.https_only | default(False) }}
  auth: {{ tautulli.auth | default(False) }}
  domain: {{ tautulli.domain | default(False) }}
  subdomain: {{ tautulli.subdomain | default("tautulli") }}
  version: {{ tautulli.version | default("latest") }}
  port: {{ tautulli.port | default("0") }}

teedy:
  enable: {{ teedy.enable | default(enable_teedy, None) | default(False) }}
  https_only: {{ teedy.https_only | default(False) }}
  auth: {{ teedy.auth | default(False) }}
  domain: {{ teedy.domain | default(False) }}
  subdomain: {{ teedy.subdomain | default("teedy") }}
  version: {{ teedy.version | default("latest") }}
  port: {{ teedy.port | default("0") }}

thelounge:
  enable: {{ thelounge.enable | default(enable_thelounge, None) | default(False) }}
  https_only: {{ thelounge.https_only | default(False) }}
  auth: {{ thelounge.auth | default(False) }}
  domain: {{ thelounge.domain | default(False) }}
  subdomain: {{ thelounge.subdomain | default("thelounge") }}
  version: {{ thelounge.version | default("latest") }}
  port: {{ thelounge.port | default("0") }}

thespaghettidetective:
  enable: {{ thespaghettidetective.enable | default(enable_thespaghettidetective, None) | default(False) }}
  https_only: {{ thespaghettidetective.https_only | default(False) }}
  auth: {{ thespaghettidetective.auth | default(False) }}
  domain: {{ thespaghettidetective.domain | default(False) }}
  subdomain: {{ thespaghettidetective.subdomain | default("thespaghettidetective") }}
  version: {{ thespaghettidetective.version | default("latest") }}
  port: {{ thespaghettidetective.port | default("0") }}

tick:
  enable: {{ tick.enable | default(enable_tick, None) | default(False) }}
  https_only: {{ tick.https_only | default(False) }}
  auth: {{ tick.auth | default(False) }}
  domain: {{ tick.domain | default(False) }}
  subdomain: {{ tick.subdomain | default("tick") }}
  version: {{ tick.version | default("latest") }}
  port: {{ tick.port | default("0") }}

tiddlywiki:
  enable: {{ tiddlywiki.enable | default(enable_tiddlywiki, None) | default(False) }}
  https_only: {{ tiddlywiki.https_only | default(False) }}
  auth: {{ tiddlywiki.auth | default(False) }}
  domain: {{ tiddlywiki.domain | default(False) }}
  subdomain: {{ tiddlywiki.subdomain | default("tiddlywiki") }}
  version: {{ tiddlywiki.version | default("latest") }}
  port: {{ tiddlywiki.port | default("0") }}

transmission:
  enable: {{ transmission.enable | default(enable_transmission, None) | default(False) }}
  https_only: {{ transmission.https_only | default(False) }}
  auth: {{ transmission.auth | default(False) }}
  domain: {{ transmission.domain | default(False) }}
  subdomain: {{ transmission.subdomain | default("transmission") }}
  version: {{ transmission.version | default("latest") }}
  port: {{ transmission.port | default("0") }}

trilium:
  enable: {{ trilium.enable | default(enable_trilium, None) | default(False) }}
  https_only: {{ trilium.https_only | default(False) }}
  auth: {{ trilium.auth | default(False) }}
  domain: {{ trilium.domain | default(False) }}
  subdomain: {{ trilium.subdomain | default("trilium") }}
  version: {{ trilium.version | default("latest") }}
  port: {{ trilium.port | default("0") }}

tubearchivist:
  enable: {{ tubearchivist.enable | default(enable_tubearchivist, None) | default(False) }}
  https_only: {{ tubearchivist.https_only | default(False) }}
  auth: {{ tubearchivist.auth | default(False) }}
  domain: {{ tubearchivist.domain | default(False) }}
  subdomain: {{ tubearchivist.subdomain | default("tubearchivist") }}
  version: {{ tubearchivist.version | default("latest") }}
  port: {{ tubearchivist.port | default("0") }}

turtl:
  enable: {{ turtl.enable | default(enable_turtl, None) | default(False) }}
  https_only: {{ turtl.https_only | default(False) }}
  auth: {{ turtl.auth | default(False) }}
  domain: {{ turtl.domain | default(False) }}
  subdomain: {{ turtl.subdomain | default("turtl") }}
  version: {{ turtl.version | default("latest") }}
  port: {{ turtl.port | default("0") }}

ubooquity:
  enable: {{ ubooquity.enable | default(enable_ubooquity, None) | default(False) }}
  https_only: {{ ubooquity.https_only | default(False) }}
  auth: {{ ubooquity.auth | default(False) }}
  domain: {{ ubooquity.domain | default(False) }}
  subdomain: {{ ubooquity.subdomain | default("ubooquity") }}
  version: {{ ubooquity.version | default("latest") }}
  port: {{ ubooquity.port | default("0") }}

unificontroller:
  enable: {{ unificontroller.enable | default(enable_unificontroller, None) | default(False) }}
  https_only: {{ unificontroller.https_only | default(False) }}
  auth: {{ unificontroller.auth | default(False) }}
  domain: {{ unificontroller.domain | default(False) }}
  subdomain: {{ unificontroller.subdomain | default("unificontroller") }}
  version: {{ unificontroller.version | default("latest") }}
  port: {{ unificontroller.port | default("8080") }}

vikunja:
  enable: {{ vikunja.enable | default(enable_vikunja, None) | default(False) }}
  https_only: {{ vikunja.https_only | default(False) }}
  auth: {{ vikunja.auth | default(False) }}
  domain: {{ vikunja.domain | default(False) }}
  subdomain: {{ vikunja.subdomain | default("vikunja") }}
  version: {{ vikunja.version | default("latest") }}
  port: {{ vikunja.port | default("3456") }}

wallabag:
  enable: {{ wallabag.enable | default(enable_wallabag, None) | default(False) }}
  https_only: {{ wallabag.https_only | default(False) }}
  auth: {{ wallabag.auth | default(False) }}
  domain: {{ wallabag.domain | default(False) }}
  subdomain: {{ wallabag.subdomain | default("wallabag") }}
  version: {{ wallabag.version | default("latest") }}
  port: {{ wallabag.port | default("80") }}

watchtower:
  enable: {{ watchtower.enable | default(enable_watchtower, None) | default(False) }}
  https_only: {{ watchtower.https_only | default(False) }}
  auth: {{ watchtower.auth | default(False) }}
  domain: {{ watchtower.domain | default(False) }}
  notification: {{ watchtower.notification | default(False) }}
  subdomain: {{ watchtower.subdomain | default("watchtower") }}
  version: {{ watchtower.version | default("latest") }}
  port: {{ watchtower.port | default("80") }}

webdavserver:
  enable: {{ webdavserver.enable | default(enable_webdavserver, None) | default(False) }}
  https_only: {{ webdavserver.https_only | default(False) }}
  auth: {{ webdavserver.auth | default(False) }}
  domain: {{ webdavserver.domain | default(False) }}
  subdomain: {{ webdavserver.subdomain | default("webdavserver") }}
  version: {{ webdavserver.version | default("latest") }}
  port: {{ webdavserver.port | default("80") }}

webtrees:
  enable: {{ webtrees.enable | default(enable_webtrees, None) | default(False) }}
  https_only: {{ webtrees.https_only | default(False) }}
  auth: {{ webtrees.auth | default(False) }}
  domain: {{ webtrees.domain | default(False) }}
  subdomain: {{ webtrees.subdomain | default("webtrees") }}
  version: {{ webtrees.version | default("latest") }}
  port: {{ webtrees.port | default("8079") }}

webvirtmgr:
  enable: {{ webvirtmgr.enable | default(enable_webvirtmgr, None) | default(False) }}
  https_only: {{ webvirtmgr.https_only | default(False) }}
  auth: {{ webvirtmgr.auth | default(False) }}
  domain: {{ webvirtmgr.domain | default(False) }}
  subdomain: {{ webvirtmgr.subdomain | default("webvirtmgr") }}
  version: {{ webvirtmgr.version | default("latest") }}
  port: {{ webvirtmgr.port | default("8000") }}

wekan:
  enable: {{ wekan.enable | default(enable_wekan, None) | default(False) }}
  https_only: {{ wekan.https_only | default(False) }}
  auth: {{ wekan.auth | default(False) }}
  domain: {{ wekan.domain | default(False) }}
  subdomain: {{ wekan.subdomain | default("wekan") }}
  version: {{ wekan.version | default("latest") }}
  port: {{ wekan.port | default("8080") }}

xfinityusageinfluxdb:
  enable: {{ xfinityusageinfluxdb.enable | default(enable_xfinityusageinfluxdb, None) | default(False) }}
  https_only: {{ xfinityusageinfluxdb.https_only | default(False) }}
  auth: {{ xfinityusageinfluxdb.auth | default(False) }}
  domain: {{ xfinityusageinfluxdb.domain | default(False) }}
  subdomain: {{ xfinityusageinfluxdb.subdomain | default("xfinityusageinfluxdb") }}
  version: {{ xfinityusageinfluxdb.version | default("latest") }}
  port: {{ xfinityusageinfluxdb.port | default("80") }}

xteve:
  enable: {{ xteve.enable | default(enable_xteve, None) | default(False) }}
  https_only: {{ xteve.https_only | default(False) }}
  auth: {{ xteve.auth | default(False) }}
  domain: {{ xteve.domain | default(False) }}
  subdomain: {{ xteve.subdomain | default("xteve") }}
  version: {{ xteve.version | default("latest") }}
  port: {{ xteve.port | default("34400") }}

zammad:
  enable: {{ zammad.enable | default(enable_zammad, None) | default(False) }}
  https_only: {{ zammad.https_only | default(False) }}
  auth: {{ zammad.auth | default(False) }}
  domain: {{ zammad.domain | default(False) }}
  subdomain: {{ zammad.subdomain | default("zammad") }}
  version: {{ zammad.version | default("latest") }}
  port: {{ zammad.port | default("80") }}

ztncui:
  enable: {{ ztncui.enable | default(enable_ztncui, None) | default(False) }}
  https_only: {{ ztncui.https_only | default(False) }}
  auth: {{ ztncui.auth | default(False) }}
  domain: {{ ztncui.domain | default(False) }}
  subdomain: {{ ztncui.subdomain | default("ztncui") }}
  version: {{ ztncui.version | default("latest") }}
  port: {{ ztncui.port | default("7742") }}

zulip:
  enable: {{ zulip.enable | default(enable_zulip, None) | default(False) }}
  https_only: {{ zulip.https_only | default(False) }}
  auth: {{ zulip.auth | default(False) }}
  domain: {{ zulip.domain | default(False) }}
  subdomain: {{ zulip.subdomain | default("zulip") }}
  version: {{ zulip.version | default("2.0.2-0") }}
  port: {{ zulip.port | default("80") }}
  db_version: {{ zulip.db_version | default("latest") }}
  redis_version: {{ zulip.redis_version | default("latest") }}
  rabbit_version: {{ zulip.rabbit_version | default("3.7.7") }}


### OPTIONAL ### These valuse are OPTIONAL and enable extra HomelabOS functionality.

# NAS Config (Docs: https://homelabos.com/docs/setup/installation/#nas-network-attached-storage-configuration)
nas_enable: {{ nas_enable | default(False) }}
nas_host: {{ nas_host | default() }}
nas_mount_type: {{ nas_mount_type | default() }}
nas_share_path: {{ nas_share_path | default() }}
nas_user: {{ nas_user | default(default_username) }}
nas_pass: {{ nas_pass | default() }}
nas_workgroup: {{ nas_workgroup | default() }}

# Example: 0 4 * * *
# Backup every day at 4:00 AM
s3_backup_cron: {{ s3_backup_cron | default("0 4 * * *") }}
s3_path: {{ s3_path | default() }}

apple_health_nextcloud_username: {{ apple_health_nextcloud_username | default()  }}
